.flows_NB1789.json.backup
[{"id":"12fdc0dd.c1bb0f","type":"tab","label":"MqttProductMessageSave","disabled":false,"info":"This flow saves the message properties into a csv file as comma seperated values."},{"id":"e05c3b1c.b56c68","type":"tab","label":"MqttMaintenanceMessageSave","disabled":false,"info":""},{"id":"69f75cee.99d444","type":"mqtt-broker","z":"","broker":"91.229.168.12","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3203d03e.e92","type":"mqtt in","z":"12fdc0dd.c1bb0f","name":"CoffeeProductsClient","topic":"/sensors/Jura/+/product/+","qos":"2","broker":"69f75cee.99d444","x":215.5,"y":259,"wires":[["fe6fe151.8ac99"]]},{"id":"fe6fe151.8ac99","type":"function","z":"12fdc0dd.c1bb0f","name":"Prepare Product Message","func":"//sample topic = \"/sensors/Jura/x7/product/espresso\"\nvar topic = msg.topic;\n\n//extract product name from topic\nvar pos   = topic.lastIndexOf(\"/\");\nvar productName = topic.substring(pos+1);\n\n//Find Start position for machineName. In our sample it is 13\nvar startIndex = topic.indexOf(\"/\",12)+1;\nvar endIndex = topic.indexOf(\"/\",startIndex);\nvar machineName = topic.substring(startIndex,endIndex);\n\n//current date in the format of mm/dd/yyyy hh:mm\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\n\n\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\n\nvar dateStr = month + \"/\" + day + \"/\" + year + \" \" + hour + \":\" + minute ;\n\n\n\nmsg.payload = dateStr + \",\" + productName + \",\" + msg.payload.toString() + \",\" + machineName;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["20fc4fc3.4075e","9136418f.b3d9f"]]},{"id":"20fc4fc3.4075e","type":"debug","z":"12fdc0dd.c1bb0f","name":"","active":true,"console":"false","complete":"payload","x":870,"y":340,"wires":[]},{"id":"9136418f.b3d9f","type":"file","z":"12fdc0dd.c1bb0f","name":"Save To Csv","filename":"C:\\dev\\tools\\testfile.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":930,"y":500,"wires":[]},{"id":"a3b148ad.f02bb8","type":"mqtt in","z":"e05c3b1c.b56c68","name":"CoffeeMaintenanceClient","topic":"/sensors/Jura/+/maintenance/#","qos":"2","broker":"69f75cee.99d444","x":270,"y":280,"wires":[["c7871fab.c6d29"]]},{"id":"c7871fab.c6d29","type":"function","z":"e05c3b1c.b56c68","name":"Prepare Maintenance Message","func":"//sample topic = \"/sensors/Jura/x11/maintenance/system/time2Clean\"\nvar topic = msg.topic;\n\n\n//extract maintenance name from topic\nvar pos   = topic.lastIndexOf(\"/\");\nvar maintenanceName = topic.substring(pos+1);\n\n//extract maintenance type from topic\ntopic = topic.substring(0,pos-1);\npos   = topic.lastIndexOf(\"/\");\nvar maintenanceType = topic.substring(pos+1);\n\n\n//Find Start position for machineName. In our sample it is 13\nvar startIndex = topic.indexOf(\"/\",12)+1;\nvar endIndex = topic.indexOf(\"/\",startIndex);\nvar machineName = topic.substring(startIndex,endIndex);\n\n//current date in the format of mm/dd/yyyy hh:mm\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nvar dateStr = month + \"/\" + day + \"/\" + year + \" \" + hour + \":\" + minute ;\n\n//fill the related fields\nvar columnNames = [ \"TimeStamp\", \"millingPlantCoffee\", \"millingPlantEspresso\", \"cleanMilkSystem\", \"rinseCoffeeSystem\", \"rinseMilkSystem\", \"clean\", \"time2Clean\", \"descale\", \"time2Descale\", \"location\", \"machine\"];\nvar arrayLength = columnNames.length;\nvar payload = [];\nfor (var i = 0; i < arrayLength; i++) {\n\n\tif( columnNames[i] == \"TimeStamp\" ){\n    \tpayload[i] = dateStr;\n    }\n    \n    else if( columnNames[i] == \"machine\" ){\n    \tpayload[i] = machineName;\n    }\n\telse{\n    \tpayload[i] = (columnNames[i] == maintenanceName) ? msg.payload : \"0\";\n    }\n}\nmsg.payload = payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":634.5,"y":361,"wires":[["eea52da4.3869c","bef0c6da.39b7d8"]]},{"id":"eea52da4.3869c","type":"debug","z":"e05c3b1c.b56c68","name":"","active":true,"console":"false","complete":"true","x":894.5,"y":361,"wires":[]},{"id":"bef0c6da.39b7d8","type":"file","z":"e05c3b1c.b56c68","name":"Save To Csv","filename":"C:\\dev\\tools\\testmaintenancefile.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":974.5,"y":521,"wires":[]}]