lib/flows/muratazuretest.json
[{"id":"8f13f892.dbe5b8","type":"azureiothub","z":"28520ee0.ee2562","name":"Azure IoT Hub","protocol":"mqtt","x":360,"y":400,"wires":[["92132e34.cb473"]]},{"id":"3d99b4b8.74f6fc","type":"inject","z":"28520ee0.ee2562","name":"Inject data","topic":"","payload":"Hello from node-red device","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":506.79998779296875,"wires":[["8f13f892.dbe5b8"]]},{"id":"92132e34.cb473","type":"function","z":"28520ee0.ee2562","name":"Convert Bytes to String","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":512.3500061035156,"wires":[["6f236447.6e76ec"]]},{"id":"6f236447.6e76ec","type":"debug","z":"28520ee0.ee2562","name":"","active":true,"console":"false","complete":"false","x":743,"y":630.9299926757812,"wires":[]},{"id":"7ecf11a.d8c01f","type":"inject","z":"28520ee0.ee2562","name":"","topic":"testme","payload":"this is a test message from node-red","payloadType":"str","repeat":"5","crontab":"","once":true,"x":163,"y":827,"wires":[["c29edf49.2716b"]]},{"id":"c29edf49.2716b","type":"mqtt out","z":"28520ee0.ee2562","name":"","topic":"a41test","qos":"","retain":"","broker":"69f75cee.99d444","x":360,"y":800,"wires":[]},{"id":"69f75cee.99d444","type":"mqtt-broker","z":"","broker":"91.229.168.12","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]